body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button{
    margin: 20px;
}

.header,#overallScore{
    display: flex;
    background-color:#123c77;
    color:#F9FaF8;   
    flex-direction: column;
       
}

.header{
    font-size: 48px;
    font-weight: 900;
    padding: 75px 100px;  
    align-items: center;
    text-align: center;
}

.headerText{
    font-size: 18px;
    color: #E5E7EB;
    padding: 25px 25px 0px 0px;
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
    
}

.buttonContainer{
    display: flex;
    flex-direction: column;
}

#roundHeader, #roundResult{
    display:flex;
    justify-content: center;
}

#roundHeader{
    font-size: 20px;
    color:rgb(52, 156, 122)
}

#Score,#result{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.scoreContainer{
    font-size: 20px;
    padding: 25px;
}

.resultContainer{
    margin: 20px;
}

.resultText{
    font-size: 20px;
    color:#78797a;
    text-align:center
}

#resultPlayer, #resultComputer, #roundResult, #player, #computer{
    font-size: 30px;
    text-align:center;
    height: 30px;
}

#resultPlayer, #resultComputer{
    color:#123c77
}

.overallResult{
    display: flex;
    font-size: 50px;
    justify-content:center;
    padding: 20px;
}

.resultButton{
    font-size: 20px;
    width: 100px;
    align-self: center;

}

#results{
    display: flex;
    flex-direction:column;
}